

.callback-form{
    width:320px;
    padding: 0px 16px;
    display: block;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    right: 0;
    top:0;
    height: 100vh;
    z-index: 50;
    position: relative;
    background: white;
    &__back{
    background: url(../img/ic/close.svg);
    margin-top:24px;
    margin-bottom: 32px;
}
    &__title {
    margin-top: 40px;
    margin-bottom: 24px;
}
    &__title:before {
    content: "";
    display: block;
    height: 40px;
    width: 4px;
    position: absolute;
    left: -16px;
}
    &__field {
    height: 48px;
    margin-bottom: 16px;
    border-radius: 6px;
    width:100%;
    @include main-text;
    color: $var3;
    border: 1px solid $var2;
}
    &__field::placeholder {
    @include main-text;
    color: $var6;
    position: relative;
    left: 16px;
}
    &__textarea{
    width: 100%;
    height: 118px;
    border-radius: 6px;
    @include main-text;
    color: $var3;
    border: 1px solid $var2;
    overflow: hidden;    
}
    &__textarea::placeholder {
    @include main-text;
    color: $var6;
    position: relative;
    left: 16px;
    top:16px;
}
&__clarification{
    width: 100%;
    @include small-text;
    color: $var6;
}
&__link{
    color:$var8;
    @include small-text;
}
&__submit {
    display: block;
    margin-left: auto;
    margin-top: 19px;
    outline: none;
    border: none;
    margin-bottom: 75px;
}
}

.callback {
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 50;
}
