
.container {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     position: relative;
     z-index: 10;
     @media screen and (min-width: $laptop) {

    }
    @media screen and (min-width: $pc) {   
    margin: 0;
    margin-left: auto;
    max-width: 1120px;
    }

     &--all{
     max-height: none;
     height: auto;
     }

}
.body .container--all{
     max-height: none;
     height: auto;
     }

.overlay {
    width: 100%;
    position: absolute;
    background: white;
    height: 100%;
    opacity: 0.95;
    display: none;
    top:0;
    &--active{
        display: block;
    }
    &--menu{
      z-index: 20;  
    }
    &--modal{
     z-index: 30;  
    }
}

