
.footer {
    padding-bottom: 19px;
    border-top:1px solid $light-aqua1;


&__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include small-text;
    text-align: center;
    color: $grey;
    opacity: 0.72;
}

&__link {
    @include small-text;
    text-align: center;
    color: $grey;

}

&__item {
    margin-top: 16px;
}

@media screen and (min-width: $tablet){

    padding: 32px 24px 25px 24px;
    border-top:1px solid $light-aqua1;


&__list {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

&__link {
    @include small-text;
    text-align: center;
    color: $grey;

}

&__item {
    margin-top: 16px;
    &:first-child{
        text-align: left;
    }
    &:last-child{
        text-align: right;
    }
}
   &__item:last-child{
        width: 213px;
    }
}
    @media screen and (min-width: $pc){

    padding: 32px 24px 25px 24px;
    border-top:1px solid $light-aqua1;


&__list {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

   &__item:last-child{
        width: 330px;
    }
}
}


