
.header {
     width: 100%;
     height: 88px;
     display: flex;
     align-items: center;
     border-bottom: 1px solid $light-aqua1;
     padding: 0 16px 0 16px;
     background: white;
    &__button-burger, &__logo, &__serv-list {
     display: flex;
     align-items: center;
   }
    &__button-burger:after{
        content: " ";
         position: relative;
         display: block;
         width: 2px;
         height: 32px;
         background: $white-2;
         border-radius: 1px;
         margin-left: 16px;
        left:36px;
    }
    &__serv-list {
     margin-left: auto;  
   } 
    &__logo {
         margin-left: 32px;
    }
    @media screen and (min-width: $tablet) {
         padding: 0 40px 0 24px;
        
    &__logo:after {
         display: none;
    }
    &__feedback-list {
         margin-left: auto;
    } 
    &__serv-list {
         margin-left: 0px;
    }    
    &__serv-list:before {
         content: " ";
         position: relative;
         display: block;
         width: 2px;
         height: 32px;
         background: $white-2;
         border-radius: 1px;
         margin-left: 16px;
        @media screen and (min-width: $laptop){
            display: none;
        }
    }     
    }
    @media screen and (min-width: 1440px) {
         max-width: 1120px;
         background-color: inherit;
         height: 72px;
         margin: 0px 0px 8px auto;
         justify-content: flex-end;
         border-bottom: none;
         padding-right: 32px;
         z-index: 10;
         padding-top: 42px;
       .header &__button-burger, &__logo {
         display: none;
        }
        &__serv-list li:first-child:before {
         display: none;
         }
       
    }
}
       
