

.main {
    &__title{
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    }
    &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}
    @media screen and (min-width: $tablet) {
     &__title {
         margin-bottom: 32px;
         margin-left: 24px;
    }
    &__article {
         flex-direction: row;
         padding: 0 24px 16px 24px;
         justify-content: space-between;
    }
    }
    @media screen and (min-width: $laptop){

     &__title {
         margin-bottom: 8px;
         margin-top: 42px;
    }
    &__article {
         padding: 0 32px 20px 32px;
    }
    }
}
