.serv-list{
    &__text {
     display: none;
   }
    &__item {
         margin-left: 16px;
    }   
    @media screen and (min-width: 1120px) {
    margin-left: auto;    
    &__button {
         display: flex;
         align-items: center;
    }
    &__text {
         display: block;
         margin-right: 8px;
         color: #1b1c21;
    }
    &__item {
         margin-left: 32px;
    }    
    } 
     @media screen and (min-width: 1440px) {
   
    &__item {
         margin-top:0px;
    }    
    } 
}
