.ui-button {
     display: block;
     height: 40px;
     width: 40px;
    transition: 0.5s;
    &--burger {
		background: url("../img/ic/burger.svg") no-repeat;
	}
	&--call {
		background: url("../img/ic/call.svg") no-repeat;
	}
	&--chat {
		background: url("../img/ic/chat.svg") no-repeat;
	}
	&--profile {
		background: url("../img/ic/profile.svg") no-repeat;
	}
	&--request {
		background: url("../img/ic/repair.svg") no-repeat;
	}
	&--check-status {
		 background: url("../img/ic/checkstatus.svg") no-repeat;
	}
    &--message {
     background: url(../img/ic/chat.svg) no-repeat;
}
     &--profile {
     background: url("../img/ic/profile.svg") no-repeat;
}
  
}

 .logo__link {
     display: block;
}