@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 html {
     box-sizing: border-box;
}
 *, *:after, *:before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}
 body {
     font-family: 'TT Lakes';
     background-color: #f8f8f8;
     min-width: 320px;
     position: relative;
}
a {
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
} 
ul {
     list-style: none;
}
 button, button:active {
     border: none;
     cursor: pointer;
     outline: none;
     background: transparent;
}
a:hover, button:hover {
     opacity: 0.7;
}
.window-hidden{
    display: none;
}