$var1: #f8f8f8;
$var2: #eaeaea;
$var3: #d9fff5;
$var4: #1b1c21;
$var5: #41f6d7;
$var6: #7e7e82;
$var7: #b8ffec;
$var8:#FF3E79;

@mixin main-text
{
font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
}
@mixin small-text
{
font-family: TT Lakes;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
}
@mixin title-text
{
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
}

$tablet:767px;
$laptop:1120px;
$pc:1440px;
