$white-1: #f8f8f8;
$white-2: #eaeaea;
$light-aqua1: #d9fff5;
$black1: #1b1c21;
$aqua: #41f6d7;
$grey: #7e7e82;
$light-aqua: #b8ffec;
$pink:#FF3E79;

@mixin main-text
{
font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
}
@mixin small-text
{
font-family: TT Lakes;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
}
@mixin title-text
{
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
}

$tablet:767px;
$laptop:1120px;
$pc:1440px;
